
@using Web.Models.Dtos
@model ProductList



@foreach (var item in Model.Products)
{
    <div class="col-sm-6 col-lg-4 card" style="position: absolute; left: 569.968px; top: 0px;">
        <div class="product mb-0">
            <div class="product-thumb-info border-0 mb-3">

                <div class="addtocart-btn-wrapper">
                    <a href="/" class="text-decoration-none addtocart-btn" title="Teklif Al">
                        <i class="icon-briefcase icons"></i>
                    </a>
                </div>
                <a href="/">
                    <div class="product-thumb-info-image">
                        <img alt="@item.Name" class="img-fluid" src="@StaticDetails.GetImage(item.ImagePath)">

                    </div>
                </a>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <div>
                    @foreach (var itemF in item.FeatureDescriptions)
                    {
                        <a href="/" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">@itemF.FeatureDesc</a>
                    }
                    <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/" class="text-color-dark text-color-hover-primary">@item.Name</a></h3>
                </div>
            </div>

        </div>
    </div>

}