@using Web.Models.Dtos
@model Mail
<div class="col-lg-6">

    <h2 class="font-weight-bold text-8 mt-2 mb-0">Bize Ulaşın</h2>
    <p class="mb-4">Bilgi ve teklif almak, teknik detay öğrenmek ve diğer tüm sorularınız için bize ulaşabilirsiniz.</p>

    <form class="contact-form" asp-action="SendMail" asp-controller="Contact" method="POST" asp-antiforgery="true">
        <div class="row">
            <div class="form-group col-lg-6">
                <label class="form-label mb-1 text-2" asp-for="Name">İsim</label>
                <input asp-for="Name" type="text" data-msg-required="Lütfen isminizi giriniz." maxlength="100" class="form-control text-3 h-auto py-2" name="name" required="">
            </div>
            <div class="form-group col-lg-6">
                <label class="form-label mb-1 text-2" asp-for="EMail">E-Posta</label>
                <input asp-for="EMail" type="email" data-msg-required="Lütfen bir e-posta giriniz." data-msg-email="Lütfen geçerli bir e-posta giriniz." maxlength="100" class="form-control text-3 h-auto py-2" name="email" required="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label class="form-label mb-1 text-2" asp-for="Subject">Konu</label>
                <input asp-for="Subject" type="text" value="" data-msg-required="Lütfen alanı doldurunuz." maxlength="100" class="form-control text-3 h-auto py-2" name="subject" required="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label class="form-label mb-1 text-2">Mesajınız</label>
                <textarea asp-for="Message" maxlength="5000" data-msg-required="Lütfen alanı doldurunuz." rows="8" class="form-control text-3 h-auto py-2" name="message" required=""></textarea>
            </div>
        </div>

        @Html.RecaptchaApiScript()
        @Html.RecaptchaWidget(renderApiScript: false)

        <div class="row">
            <div class="form-group col">
                <input type="submit" class="btn btn-primary btn-modern" />
            </div>
        </div>
    </form>

</div>

