@using Web.Models.Dtos
@model Breadcrumb

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="font-weight-bold text-dark">@Model.Page</h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a href="/" itemprop="item">
                            <span itemprop="name">Anasayfa</span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    @for (int i = 0; i < Model.Data.Count; i++)
                    {
                        if (i != Model.Data.Count - 1)
                        {
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <a href="/@StringProcess.ClearString(Model.Data[i])" itemprop="item">
                                    <span itemprop="name">@Model.Data[i].ToString()</span>
                                </a>
                                 <meta itemprop="position" content="@i+2" />
                            </li>
                        }
                        else
                        {
                            <li class="active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <span itemprop="name">@Model.Data[i].ToString()</span>
                                 <meta itemprop="position" content="@i+2" />
                               
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</section>