

@* HeadermenuRight *@
<div class="header-column justify-content-center w-100-mobile w-50 order-2 order-lg-3">
    <div class="header-row justify-content-end">
        <nav class="header-nav-top d-none d-md-flex">
            <ul class="nav nav-pills">
                <li class="nav-item nav-item-anim-icon d-none d-sm-block">
                    <a class="nav-link ps-0" href="/Hakkimizda">Hakkımızda</a>
                </li>
            </ul>
        </nav>
        <div class="header-nav-features header-nav-features-center header-nav-features-no-border header-nav-features-md-show-border pe-4 mx-0 mx-md-2">
            <div class="header-nav-feature header-nav-features-search d-inline-flex">
                <a href="#" class="header-nav-features-toggle text-decoration-none" data-focus="headerSearch"><i class="fas fa-search header-nav-top-icon"></i></a>
                <div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopSearchDropdown">
                    <form role="search" action="page-search-results.html" method="get">
                        <div class="simple-search input-group">
                            <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
                            <button class="btn" type="submit">
                                <i class="fas fa-search header-nav-top-icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            @*<div class="header-nav-feature header-nav-features-cart d-inline-flex ms-2">
                <a href="#" class="header-nav-features-toggle">
                    <i class="icon-briefcase icons"></i>
                    <span class="cart-info d-none">
                        <span class="cart-qty">1</span>
                    </span>
                </a>
                <div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopCartDropdown">
                    <ol class="mini-products-list">
                        <li class="item">                           
                            <a href="#" title="Camera X1000" class="product-image"><img src="~/assets/img/products/product-1.jpg" alt="Camera X1000"></a>
                            <div class="product-details">
                                <p class="product-name">
                                    <a href="#">Camera X1000 </a>
                                </p>
                                <p class="qty-price">
                                    1X <span class="price">$890</span>
                                </p>
                                <a href="#" title="Remove This Item" class="btn-remove"><i class="fas fa-times"></i></a>
                            </div>
                        </li>
                    </ol>
                    <div class="totals">
                        <span class="label">Total:</span>
                        <span class="price-total"><span class="price">$890</span></span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-dark" href="#">View Cart</a>
                        <a class="btn btn-primary" href="#">Checkout</a>
                    </div>
                </div>
            </div>*@
        </div>
        <a href="/BizeUlasin" target="_blank" class="btn btn-outline btn-gradient cumstomgradient mb-2 font-weight-semibold line-height-2 text-1 ms-2 d-none d-md-inline-block img-fluid appear-animation animated fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="0" data-appear-animation-duration="1s" style="animation-duration: 1s; animation-delay: 0ms;">BİZE ULAŞIN</a>
    </div>
</div>